<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443050369009-svkkm1g0hemcdll8ms041enlfp4difh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443050369009-svkkm1g0hemcdll8ms041enlfp4difh6</string>
	<key>API_KEY</key>
	<string>AIzaSyAEzSgQO5KJeu_ejPVX39FZWRbEJ_yHrtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443050369009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>database-f3419</string>
	<key>STORAGE_BUCKET</key>
	<string>database-f3419.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443050369009:ios:c8a8dff0974c17ebccee50</string>
</dict>
</plist>